// Variables

//Font Variables
$primaryFont:  'Chronicle Display';
$secondaryFont: 'Gotham Narrow';

//$secondaryFont: 'Roboto', sans-serif;
//$quaternaryFont: 'Adamina', serif;
//$quinaryFont: 'Libre Baskerville', serif;

// Color Variables
$primaryColor: #fff;
$secondaryColor: #171616;
$hoverColor: #dcbc95;
$paragraphColor: #a3a3a3;

// Background color
$primarybgColor:#820dee;
$secondarybgColor:#ff007a;
$tertiaryColor:#dcbc95;
$hoverbgColor:rgb(86, 194, 226);
$btnbgColor3:transparent;
$btnbgColor4:#ffc854de;
//$btnhover1:#ffcc62;

